@page
@model IndexModel
@{
    ViewData["Title"] = "Christine Kweri";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">DB access has already been accomplished on Dec 8 by Christine Kweri</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
